@font-face {
    font-family: 'Anonymous Pro';
    src: url(AnonymousPro-1_002/Anonymous\ Pro.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Anonymous Pro';
    background-color: #0f052d;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    justify-content: left;
}
p{
    color: #5fc75d;
    font-size: medium;
}
img{
    width: 70%;
    max-width: 800px;
    height: auto;
}
.sticky{
    position: sticky;
    position: -webkit-sticky;
    width: 10vw;
    height: fit-content;
    top: 5vw;  
    left: 1vw;
    border: 3px solid #5fc75d;
    z-index: 1;
}
@media(max-width: 800px){
    .sticky{
        display: none;
    }
}
.top {
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    color: #5fc75d;
}
.block {
    display: flex;
    flex-direction: column;
    justify-content:left;
    max-width: 50%;
    min-width: 350px;
    margin: auto;
    margin-bottom: 30px;
    color: #5fc75d;
    border: #5fc75d 3px solid;
    padding: 10px;
    font: bold;
}
.block h2{
    text-decoration: underline;
}
.spacer1 {
    height: 10vw;
    width: max-content;
}
.spacer2 {
    height: 5vw;
    width: max-content;
}
.spacer3 {
    height: 2vw;
    width: max-content;
}
.boxes {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .boxes {
        flex-direction: column;
        align-items: center;
    }
}
.boxes img {
    min-width: 10rem;
    max-width: 30rem;
    height: auto;
}
.title h1 {
    color: #5fc75d;
    font-size: clamp(2vw, 5vw, 3rem);
    padding-left: 10px;
    max-width: 100%;
    overflow: hidden;
    border-right: .30em solid #5fc75d; 
    white-space: nowrap; 
    animation:
        typing 1.5s steps(25, end),
        blink-caret .5s step-end infinite;
}
.menu h2 {
    color: #5fc75d;
    margin-left: auto;
}
@keyframes typing {
from { width: 0 }
to { width: 100% }
}
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: #5fc75d }
}
a {
color: #5fc75d;
position: relative;
text-decoration: none;
transition: color .4s ease-out;
}
a:hover {
    color: #5fc75d;
    text-decoration: none;
}

a:hover::after {
    border-color: #5fc75d;
    right: 0;
}
a::after {
    border-radius: 1em;
    border-top: .1em solid #5fc75d;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1),
    border-color .4s ease-out;
}
la{
    display: list-item;
    list-style-type: ">";
    padding-inline-start: 0.5rem;
    padding: 0.5rem;
    color: #5fc75d;
    font-weight: bold;
}
li{
    padding: 0.2rem;
}