<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="de" data-bs-theme="dark">

<head>
  {# Meta #}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Johannes Kirchner">
  <meta name="revisit-after" content="7 days">

  {# CSS #}
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">

  {# JS #}
  <script defer src="/js/bootstrap.min.js"></script>

  <title>
    {{ title }}
  </title>
</head>

<body>
  <div class="container">
    {% include "./menu.njk" %}
    <div class="container mt-5 mb-5 text-center typewriter">

      {{ content | safe }}
    </div>
  </div>
  {% include "./footer.njk" %}
</body>

</html>
