<div class="mt-2 mb-2 container">
  <nav
  class="rounded navbar navbar-expand-lg bg-body-tertiary"
>
  <div class="container-fluid">
    <a href="/" class="navbar-brand" aria-label="Link zur Startseite">
    Home
    </a>
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#Hauptnavigation" 
      aria-controls="Hauptnavigation" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="Hauptnavigation">
      <ul class="navbar-nav" role="menubar">
        <li class="nav-item" role="menuitem">
          <a class="underline-hover nav-link {% if 'LF1' in page.url %}active{% endif %}" href="/LF1">Lernfeld 1</a>
        </li>
        <li class="nav-item" role="menuitem">
          <a class="underline-hover nav-link {% if 'LF2' in page.url %}active{% endif %}" href="/LF2">Lernfeld 2</a>
        </li>
        <li class="nav-item" role="menuitem">
          <a class="underline-hover nav-link {% if 'LF3' in page.url %}active{% endif %}" href="/LF3">Lernfeld 3</a>
        </li>
        <li class="nav-item" role="menuitem">
          <a class="underline-hover nav-link {% if 'LF4' in page.url %}active{% endif %}" href="/LF4">Lernfeld 4</a>
        </li>
        <li class="nav-item" role="menuitem">
          <a class="underline-hover nav-link {% if 'LF5' in page.url %}active{% endif %}" href="/LF5">Lernfeld 5</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
